body {
  background-color: #f5f5f5;
  color: #2d2c2c
}

#container {
  width: 100%;
}

#main {
  margin: 0 auto;
}

#cat {
  padding: 1rem 0 1rem 0;
}

#contact button {
  cursor: pointer;
}

#cat img {
  transition: 3s;
  filter: brightness(60%);
}

@keyframes rot {
  100% {
    transform: rotateZ('360deg');
  }
}

#cat img:hover {
  cursor: wait;
  transition: 0.3s;
  filter: brightness(100%);
  animation: rot 2s linear 0s infinite;
}